In [3]:
import pandas as pd

In [5]:
df=pd.read_excel(r"C:\Users\user\Desktop\DATA SCIENCE CLASS\DataScienceClass\Cars sale report working sheet.xlsx")

C:\ProgramData\anaconda3\Lib\site-packages\openpyxl\worksheet\_read_only.py:79: UserWarning: Slicer List extension is not supported and will be removed
  for idx, row in parser.parse():

In [68]:
df=pd.read_excel('Cars sale report working sheet.xlsx',sheet_name='Sheet1')

In [69]:
df

,Purchase order,Invoice date,Record type,Quantity,Amount with VAT,Total cost in local currency,Purchase order amount\t,Type of business,Brand,Type of payment,Model,Car,Company\t,Site\t,Service consultant,Salesman
0,5869401,2021-06-03,Job,0.30,252.00,0.000,756.000,Repair,SKODA,Non-cash. calculation,Rapid,RAPID AMB MP 81/1.6 A6F,Premium West,AutoNation USA,Johnson,NaN
1,5869401,2021-06-03,Job,0.10,84.00,0.000,756.000,Repair,SKODA,Non-cash. calculation,Rapid,RAPID AMB MP 81/1.6 A6F,Premium West,AutoNation USA,Johnson,NaN
2,5869401,2021-06-03,Job,0.50,420.00,0.000,756.000,Repair,SKODA,Non-cash. calculation,Rapid,RAPID AMB MP 81/1.6 A6F,Premium West,AutoNation USA,Johnson,NaN
3,1275718,2021-06-03,Job,0.30,252.00,0.000,756.000,Repair,SKODA,Non-cash. calculation,Octavia,OCTAVIA AMB TS 110/1.4 A8F,Premium West,CarMax,Johnson,NaN
4,1275718,2021-06-03,Job,0.10,84.00,0.000,756.000,Repair,SKODA,Non-cash. calculation,Octavia,OCTAVIA AMB TS 110/1.4 A8F,Premium West,CarMax,Johnson,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1244,1938036,2021-06-03,Job,0.10,360.00,0.000,10398.432,Repair,SKODA,Non-cash. calculation,Rapid,RAPID ACT MP 81/1.6 A6F,Premium West,CarMax,Lewis,NaN
1245,1938036,2021-06-03,Job,0.15,126.00,0.000,10398.432,Repair,SKODA,Non-cash. calculation,Rapid,RAPID ACT MP 81/1.6 A6F,Premium West,CarMax,Lewis,NaN
1246,1938036,2021-06-03,Spare part,2.00,14.40,6.072,10398.432,Repair,SKODA,Non-cash. calculation,Rapid,RAPID ACT MP 81/1.6 A6F,Premium West,CarMax,Lewis,NaN
1247,2100176,2021-06-03,Spare part,1.00,690.00,389.484,690.000,Retail,Other brand,Cash,NaN,XXX,Premium West,Cars.com,Moore,NaN
1248,1248,NaT,NaN,NaN,3171208.02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [70]:
df.columns

Index(['Purchase order', 'Invoice date', 'Record type', 'Quantity',
       'Amount with VAT', 'Total cost in local currency',
       'Purchase order amount\t', 'Type of business', 'Brand',
       'Type of payment', 'Model', 'Car', 'Company\t', 'Site\t',
       'Service consultant', 'Salesman'],
      dtype='object')

In [71]:
df.describe()

,Purchase order,Quantity,Amount with VAT,Total cost in local currency,Purchase order amount\t
count,1.249000e+03,1248.000000,1.249000e+03,1248.000000,1248.000000
mean,5.151609e+06,1.363591,5.077995e+03,1288.143394,37237.179202
std,2.613265e+06,6.002640,9.006154e+04,6213.667030,75948.853054
min,1.248000e+03,-4.000000,-2.905062e+04,-19480.584000,0.000000
25%,2.825370e+06,0.300000,2.520000e+02,0.000000,5791.128000
50%,4.933456e+06,1.000000,6.900000e+02,25.224000,17735.760000
75%,7.628440e+06,1.000000,2.030400e+03,660.822000,31982.880000
max,9.981690e+06,200.000000,3.171208e+06,112115.256000,388446.444000

In [72]:
df.isnull().sum()

Purchase order                     0
Invoice date                       1
Record type                        1
Quantity                           1
Amount with VAT                    0
Total cost in local currency       1
Purchase order amount\t            1
Type of business                   1
Brand                              1
Type of payment                    1
Model                            189
Car                                1
Company\t                          1
Site\t                             1
Service consultant                 1
Salesman                        1119
dtype: int64

In [73]:
df.Salesman.describe()

count        130
unique        23
top       Wright
freq          29
Name: Salesman, dtype: object

In [74]:
df['Type of payment'].describe()

count                      1248
unique                        2
top       Non-cash. calculation
freq                        720
Name: Type of payment, dtype: object

In [75]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1249 entries, 0 to 1248
Data columns (total 16 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Purchase order                1249 non-null   int64
 1   Invoice date                  1248 non-null   datetime64[ns]
 2   Record type                   1248 non-null   object
 3   Quantity                      1248 non-null   float64
 4   Amount with VAT               1249 non-null   float64
 5   Total cost in local currency  1248 non-null   float64
 6   Purchase order amount	        1248 non-null   float64
 7   Type of business              1248 non-null   object
 8   Brand                         1248 non-null   object
 9   Type of payment               1248 non-null   object
 10  Model                         1060 non-null   object
 11  Car                           1248 non-null   object
 12  Company	                      1248 non-null   object
 13  Site	                         1248 non-null   object
 14  Service consultant            1248 non-null   object
 15  Salesman                      130 non-null    object
dtypes: datetime64[ns](1), float64(4), int64(1), object(10)
memory usage: 156.3+ KB

In [76]:
df['Invoice date'].describe()

C:\Users\user\AppData\Local\Temp\ipykernel_10168\2009082583.py:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  df['Invoice date'].describe()

count                    1248
unique                      1
top       2021-06-03 00:00:00
freq                     1248
first     2021-06-03 00:00:00
last      2021-06-03 00:00:00
Name: Invoice date, dtype: object

In [77]:
val=0
if df['Type of business'].dtypes=='object':
    val= df['Type of business'].fillna(df['Type of business'].mode()[0])
elif df['Type of business'].dtypes=='datetime64[ns]':
    val=df['Type of business'].fillna(df['Type of business'].mode()[0])

elif df['Type of business'].mean()<df['Type of business'].std():
        val=df['Type of business'].mean()
else:
    val=df['Type of business'].median()

df['Type of business'].fillna(val, inplace= True)

val

0       Repair
1       Repair
2       Repair
3       Repair
4       Repair
         ...
1244    Repair
1245    Repair
1246    Repair
1247    Retail
1248    Repair
Name: Type of business, Length: 1249, dtype: object

In [78]:
df['Type of business'].isnull().sum()

0

In [79]:
df['Type of business'].mode()[0]

'Repair'

In [80]:
def Missing_data(col_name):
    if df[col_name].dtypes=='object':
        val= df[col_name].fillna(df[col_name].mode()[0])
    elif df[col_name].mean()<df[col_name].std():
        val=df[col_name].mean()
    else:
        val=df[col_name].median()
    df[col_name].fillna(val, inplace= True)
Missing_data('Invoice date')

TypeError: '<' not supported between instances of 'Timestamp' and 'Timedelta'

In [81]:
val=0
if df['Invoice date'].dtypes=='object':
    val= df['Invoice date'].fillna(df['Invoice date'].mode()[0])
elif df['Invoice date'].dtypes=='datetime64[ns]':
    val=df['Invoice date'].fillna(df['Invoice date'].mode()[0])

elif df['Invoice date'].mean()<df['Invoice date'].std():
        val=df['Invoice date'].mean()
else:
    val=df['Invoice date'].median()

df['Invoice date'].fillna(val)

val

0      2021-06-03
1      2021-06-03
2      2021-06-03
3      2021-06-03
4      2021-06-03
          ...
1244   2021-06-03
1245   2021-06-03
1246   2021-06-03
1247   2021-06-03
1248   2021-06-03
Name: Invoice date, Length: 1249, dtype: datetime64[ns]

In [82]:
df['Invoice date'].isnull().sum()

1

In [84]:
df.isnull().sum()

Purchase order                     0
Invoice date                       1
Record type                        1
Quantity                           1
Amount with VAT                    0
Total cost in local currency       1
Purchase order amount\t            1
Type of business                   0
Brand                              1
Type of payment                    1
Model                            189
Car                                1
Company\t                          1
Site\t                             1
Service consultant                 1
Salesman                        1119
dtype: int64

In [99]:
def Missing_data(col_name):
    if df[col_name].dtypes=='object':
        val= df[col_name].fillna(df[col_name].mode()[0])
    elif df[col_name].dtypes=='datetime64[ns]':
        val=df[col_name].fillna(df[col_name].mode()[0])

    elif df[col_name].mean()<df[col_name].std():
        val=df[col_name].mean()
    else:
        val=df[col_name].median()

    df[col_name].fillna(val, inplace= True)
Missing_data('Invoice date')
Missing_data('Record type')
Missing_data('Quantity')
Missing_data('Total cost in local currency')
Missing_data('Purchase order amount\t')
Missing_data('Brand')
Missing_data('Type of payment')
Missing_data('Model')
Missing_data('Car')
Missing_data('Company\t')
Missing_data('Site\t')
Missing_data('Service consultant')
Missing_data('Salesman')

In [100]:
df.isnull().sum()

Purchase order                  0
Invoice date                    0
Record type                     0
Quantity                        0
Amount with VAT                 0
Total cost in local currency    0
Purchase order amount\t         0
Type of business                0
Brand                           0
Type of payment                 0
Model                           0
Car                             0
Company\t                       0
Site\t                          0
Service consultant              0
Salesman                        0
dtype: int64